In [2]:
# Import dependencies
import pandas as pd
# For data base creation
from sqlalchemy import create_engine

In [5]:
# Define directory path for files to keep from retyping every time
file_dir = 'Data/Resources/'

In [7]:
player_id = pd.read_csv(f'{file_dir}atp_players.csv', low_memory=False)
player_id.head()

   player_id name_first name_last hand       dob  ioc  height wikidata_id
0     100001    Gardnar    Mulloy    R  19131122  USA   185.0      Q54544
1     100002     Pancho    Segura    R  19210620  ECU   168.0      Q54581
2     100003      Frank   Sedgman    R  19271002  AUS   180.0     Q962049
3     100004   Giuseppe     Merlo    R  19271011  ITA     NaN    Q1258752
4     100005    Richard  Gonzalez    R  19280509  USA   188.0      Q53554

In [33]:
# Extracting our selected players from player_id and placing them into a dataFrame called the_big_five
the_big_five = pd.DataFrame()
the_big_five = the_big_five.append(player_id[(player_id.name_last == 'Federer') & (player_id.name_first == 'Roger')])
the_big_five = the_big_five.append(player_id[(player_id.name_last == 'Wawrinka') & (player_id.name_first == 'Stan')])
the_big_five = the_big_five.append(player_id[(player_id.name_last == 'Nadal') & (player_id.name_first == 'Rafael')])
the_big_five = the_big_five.append(player_id[(player_id.name_last == 'Murray') & (player_id.name_first == 'Andy')])
the_big_five = the_big_five.append(player_id[(player_id.name_last == 'Djokovic') & (player_id.name_first == 'Novak')])

the_big_five.head()

      player_id name_first name_last hand       dob  ioc  height wikidata_id
3818     103819      Roger   Federer    R  19810808  SUI   185.0       Q1426
4525     104527       Stan  Wawrinka    R  19850328  SUI   183.0     Q193661
4741     104745     Rafael     Nadal    L  19860603  ESP   185.0      Q10132
4912     104918       Andy    Murray    R  19870515  GBR   190.0      Q10125
4919     104925      Novak  Djokovic    R  19870522  SRB   188.0       Q5812

In [39]:
stats_1998 = pd.read_csv(f'{file_dir}atp_matches_1998.csv', low_memory=False)
cleaned_stats_98 = stats_1998.dropna()
cleaned_stats_98
stats_1998

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1998-339,Adelaide,Hard,32,A,19980105,1,102035,1.0,NaN,...,29.0,18.0,11.0,9.0,2.0,5.0,4.0,2949.0,74.0,649.0
1,1998-339,Adelaide,Hard,32,A,19980105,2,101727,NaN,NaN,...,32.0,19.0,11.0,8.0,9.0,13.0,79.0,617.0,87.0,537.0
2,1998-339,Adelaide,Hard,32,A,19980105,3,102765,NaN,Q,...,38.0,18.0,7.0,9.0,5.0,12.0,93.0,521.0,71.0,665.0
3,1998-339,Adelaide,Hard,32,A,19980105,4,102563,7.0,NaN,...,37.0,21.0,10.0,11.0,1.0,6.0,39.0,959.0,76.0,633.0
4,1998-339,Adelaide,Hard,32,A,19980105,5,102796,4.0,NaN,...,57.0,33.0,20.0,13.0,12.0,17.0,22.0,1450.0,65.0,708.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3586,1998-D060,Davis Cup WG F: ITA vs SWE,Clay,4,D,19981204,2,101320,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.0,1187.0,47.0,853.0
3587,1998-D060,Davis Cup WG F: ITA vs SWE,Clay,4,D,19981204,4,101320,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.0,1187.0,62.0,730.0
3588,1998-D060,Davis Cup WG F: ITA vs SWE,Clay,4,D,19981204,5,101717,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,130.0,371.0,52.0,818.0
3589,1998-615,Dusseldorf,Clay,32,A,19980518,298,103163,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,43.0,903.0,23.0,1517.0
3590,1998-615,Dusseldorf,Clay,32,A,19980518,282,103163,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,43.0,903.0,45.0,891.0